
block config  
  
  include config.pug

doctype html
html
  head(lang = lang)
    title #{a}
      
    block metas  
      meta(charset = 'utf-8')
      meta(name = 'description' content = disc)
    block links 
      link(href = path+'style.css' rel = 'stylesheet')
  body
  if Bootstrap
    if Bootstrap
      ul
    else 
      a
    ul
      li
      li: a(href = "#") 1
      li: a(href = "#") 2
      li: a(href = "#") 3 
      li: a(href = "#") 4
      li
    p.  
      ggogog #[i dgldgk] 
      dggdgdg #[br]
      ttyryy
    a.df#sff fsf
      
    ol
      li( style = 'margin-left:100px; color:red')
      li
    img(src="#")
    a(href="#") wewrwr
      img(src="#kk")
    ul
      li
        img(src="#" class="saas")
      li
      li
    include _header.pug
    block content
    block addscript
    div
      




