extend includes/template

append config
 -var lang = 'it'

block content

  ol
    li wriwru
    li rklwkr

append content
  block way
    p.
      kukuku

prepend content
  style.
    .link {
      color:red;
    }
      
  a.link son of a bitch
