extends includes/template.pug

append config
  -var lang = 'fr'
  -var disc = 'xyz'

append content

  p.
    sgfgdsfsdg#[br]
    skoksoksfok#[br]
    pvdkofpdc;z

  style
    :scss
      p {
        color:green
      }
  
  style.
    a {
      color:cyan;
    }